{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/editPost.js' %}"></script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="card bg-dark border-light mb-3">
            <div class="card-body">
                <h3>What's in your mind?</h3>
                <form id="new_post_form">
                    <!-- {% csrf_token %} -->
                    <textarea id="textarea_new_post" form="new_post_form" rows="3" autofocus required></textarea>
                    <br><br>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
        </div>
    {% endif %}

    <!-- When a user creates a new post, this new post is appended to the div tag whose class is called "new_post_div"
    So it doesn't reload the entire page every time a user creates a new post -->

    <!-- Display all posts -->
    <h2>All posts</h2>
    <div id="posts-view" >
        <ul class="list-unstyled">
            <!-- New post is appended dynamically here -->
            <div class="new_post_div"></div>
            {% for post, like_flag, like_per_post in posts_flags %}
                <div class="card bg-dark border-light mb-3">
                    <div class="card-body">
                        <li class="media">
                            <img id="post_pic" class="mr-4" src={{ post.poster.profile_pic_url }} alt=":(">
                            <div id={{ post.id }} class="media-body">
                                <h6>
                                    <a class="poster_username_link" href="{% url 'profilepage' post.poster.id %}">{{ post.poster.username }}</a> said:
                                </h6>

                                <!-- Alternate between the post content and the editable
                                textarea -->
                                <p class="post_content">{{ post.content }}</p>

                                <hr>
                                
                                {% if user.username == post.poster.username %}
                                    <!-- This form is used to alternate between 'edit' and 'save' buttons
                                    and to send the edited textarea -->
                                    <form class="edit_save_form">
                                        <button name={{ post.id }} class="btn btn-primary edit_btn">Edit</button>
                                    </form>
                                {% endif %}

                                <small class="text-muted">Posted on {{ post.creation_date }}</small><br>
                               
                                <!-- To identify in which post the number of likes should change
                                I created this div parent node with the class equals to the post id
                                just like the strong tag that displays the number of likes for that post -->
                                
                                <div class={{ post.id }}>
                                    <p><strong class={{ post.id }}>{{ like_per_post }}</strong> likes</p>
                                    
                                    {% if post.poster != user and user.is_authenticated %}
                                        {% if like_flag %}
                                            <a href="#" class="unlike">
                                                <img src="{% static 'network/un_like.png' %}" alt="ain" height="40rem" width="40rem" style="opacity: 30%;">
                                            </a>
                                        {% else %}
                                            <a href="#" class="like">
                                                <img src="{% static 'network/un_like.png' %}" alt="ain" height="40rem" width="40rem">
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
    {% include "network/pagination.html" %}
{% endblock %}
