{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/script.js' %}"></script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="card bg-dark border-light mb-3">
            <div class="card-body">
                <h3>What's in your mind?</h3>
                <form id="new_post_form">
                    <!-- {% csrf_token %} -->
                    <textarea id="textarea_new_post" form="new_post_form" rows="1" autofocus required></textarea>
                    <br><br>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
        </div>
    {% endif %}

    <!-- When a user creates a new post, this new post is appended to the div tag whose class is called "new_post_div"
    So it doesn't reload the entire page every time a user creates a new post -->

    <!-- Display all posts -->
    <h1>All posts</h1>
    <div id="posts-view" >
        <ul class="list-unstyled">
            <div class="new_post_div"></div>
            {% for post in page_obj %}
                <div class="card bg-dark border-light mb-3">
                    <div class="card-body">
                        <li class="media">
                            <img id="post_pic" class="mr-4" src={{ post.poster.profile_pic_url }} alt=":(">
                            <div class="media-body">
                                <h6>{{post.poster.username}} said:</h6>
                                <p>{{post.content}}</p>
                                <hr>
                                <small class="text-muted">Posted on {{post.creation_date}}</small><br>
                                <div>{{post.number_likes}} likes</div>
                            </div>
                        </li>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
