body {
    background: rgb(40, 40, 40);
    /* font-family:'Times New Roman', Times, serif; */
    color: white;
}

h6 .poster_username_link {
    color: white;
}
h6 .poster_username_link:hover, h6 .poster_username_link:focus {
    color: rgb(228, 228, 228);
    text-decoration: wavy;
}

.username_link {
    color: #6c757d;
}

.username_link:hover, .username_link:focus {
    text-decoration: none;
    color: rgb(141, 149, 155);
}

hr {
    height: 1px;
    background-color: rgb(95, 95, 95);
}

#post_pic {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

#profile_pic {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.flex-item {
    padding-left: 5px;
}

.flex-container {
    list-style: none;
    
    display: flex;
  }
  
.row { 
    -webkit-flex-direction: row; 
    flex-direction: row;
}

.body {
    margin: 10px;
}

.card.bg-dark.border-light.mb-3 {
    border-radius: 8px;
}

.edit_textarea {
    background: transparent;    
    color: white;
    overflow: visible;
    width: 100%;
    height: 10rem;
}

#textarea_new_post{
    background: transparent;    
    color: white;
    overflow: hidden;
    width: 100%;
    resize: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid rgb(173, 173, 173);
}

#textarea_new_post:focus, .edit_textarea:focus {
    outline: none;
}
